Repository shouta0715/shunsaku-monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, type-check

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npm run lint
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: npx prettier --write {staged_files}
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

pre-push:
  commands:
    build:
      run: npm run build

Move UI components to shared package
  apps/web/package.json
  apps/web/src/components/alert.tsx
  apps/web/src/components/auth-layout.tsx
  apps/web/src/components/avatar.tsx
  apps/web/src/components/badge.tsx
  apps/web/src/components/button.tsx
  apps/web/src/components/checkbox.tsx
  apps/web/src/components/combobox.tsx
  apps/web/src/components/description-list.tsx
  apps/web/src/components/dialog.tsx
  apps/web/src/components/divider.tsx
  apps/web/src/components/dropdown.tsx
  apps/web/src/components/fieldset.tsx
  apps/web/src/components/heading.tsx
  apps/web/src/components/input.tsx
  apps/web/src/components/link.tsx
  apps/web/src/components/listbox.tsx
  apps/web/src/components/navbar.tsx
  apps/web/src/components/pagination.tsx
  apps/web/src/components/radio.tsx
  apps/web/src/components/select.tsx
  apps/web/src/components/sidebar-layout.tsx
  apps/web/src/components/sidebar.tsx
  apps/web/src/components/stacked-layout.tsx
  apps/web/src/components/switch.tsx
  apps/web/src/components/table.tsx
  apps/web/src/components/text.tsx
  apps/web/src/components/textarea.tsx
Due: lint, format, type-check

Add new UI package with all components
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/alert.tsx
  packages/ui/src/auth-layout.tsx
  packages/ui/src/avatar.tsx
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/ui/src/checkbox.tsx
  packages/ui/src/combobox.tsx
  packages/ui/src/description-list.tsx
  packages/ui/src/dialog.tsx
  packages/ui/src/divider.tsx
  packages/ui/src/dropdown.tsx
  packages/ui/src/fieldset.tsx
  packages/ui/src/heading.tsx
  packages/ui/src/index.ts
  packages/ui/src/input.tsx
  packages/ui/src/link.tsx
  packages/ui/src/listbox.tsx
  packages/ui/src/navbar.tsx
  packages/ui/src/pagination.tsx
  packages/ui/src/radio.tsx
  packages/ui/src/select.tsx
  packages/ui/src/sidebar-layout.tsx
  packages/ui/src/sidebar.tsx
  packages/ui/src/stacked-layout.tsx
  packages/ui/src/switch.tsx
  packages/ui/src/table.tsx
  packages/ui/src/text.tsx
  packages/ui/src/textarea.tsx
  packages/ui/tsconfig.json
Due: lint, format, type-check

Update Turbo config and dependencies for UI package
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/alert.tsx
  packages/ui/src/avatar.tsx
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/ui/src/checkbox.tsx
  packages/ui/src/combobox.tsx
  packages/ui/src/description-list.tsx
  packages/ui/src/dialog.tsx
  packages/ui/src/divider.tsx
  packages/ui/src/dropdown.tsx
  packages/ui/src/fieldset.tsx
  packages/ui/src/heading.tsx
  packages/ui/src/index.ts
  packages/ui/src/input.tsx
  packages/ui/src/link.tsx
  packages/ui/src/listbox.tsx
  packages/ui/src/navbar.tsx
  packages/ui/src/pagination.tsx
  packages/ui/src/radio.tsx
  packages/ui/src/select.tsx
  packages/ui/src/sidebar-layout.tsx
  packages/ui/src/sidebar.tsx
  packages/ui/src/stacked-layout.tsx
  packages/ui/src/switch.tsx
  packages/ui/src/table.tsx
  packages/ui/src/text.tsx
  packages/ui/src/textarea.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: lint, format, type-check

Fix Tailwind CSS configuration for monorepo
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
Due: lint, format, type-check

Add shared Tailwind configuration package
  packages/tailwind-config/package.json
  packages/tailwind-config/postcss.config.js
  packages/tailwind-config/src/styles.css
  packages/ui/package.json
  pnpm-lock.yaml
Due: lint, format

Update settings.json to enhance environment configuration and permissions
  .claude/settings.json
Due: format

Enhance project documentation and guidelines for monorepo structure
  .claude/CLAUDE.md
  .claude/commands/design.md
  .claude/commands/requirements.md
  .claude/commands/spec.md
  .claude/commands/tasks.md
Due: format

chore(docs): restructure planning documentation system
  .claude/CLAUDE.md
  .claude/commands/design.md
  .claude/commands/full-automatic.md
  .claude/commands/github-pull-request.md
  .claude/commands/spec.md
  .claude/commands/step-1-specification.md
  .claude/commands/step-2-requirements.md
  .claude/commands/step-3-system-design.md
  .claude/commands/step-4-ui-design.md
  .claude/commands/step-5-task-division.md
  README.md
Due: format

docs: update README and command documentation for GitHub CLI integration
  .claude/commands/github-pull-request.md
  .claude/settings.json
  README.md
Due: format

Refactor documentation to standardize project directory references
  .claude/CLAUDE.md
  .claude/commands/full-automatic.md
  .claude/commands/github-pull-request.md
  .claude/commands/step-1-specification.md
  .claude/commands/step-2-requirements.md
  .claude/commands/step-3-system-design.md
  .claude/commands/step-4-ui-design.md
  .claude/commands/step-5-task-division.md
Due: format

Update documentation to clarify project directory detection and improve command instructions
  .claude/CLAUDE.md
  .claude/commands/full-automatic.md
  .claude/commands/github-pull-request.md
  .claude/commands/step-1-specification.md
  .claude/commands/step-2-requirements.md
  .claude/commands/step-3-system-design.md
  .claude/commands/step-4-ui-design.md
  .claude/commands/step-5-task-division.md
  .claude/settings.json
Due: format

feat: add password generator
  apps/web/src/app/page.tsx
  apps/web/src/components/password-generator/form.tsx
  apps/web/src/components/password-generator/index.ts
  apps/web/src/components/password-generator/result.tsx
  apps/web/src/lib/password.ts
Due: lint, format, type-check

add: ui packages
  .lefthook.yml
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  packages/tailwind-config/package.json
  packages/tailwind-config/postcss.config.js
  packages/tailwind-config/src/styles.css
  packages/ui/.gitignore
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  packages/ui/prettier.config.mjs
  packages/ui/src/alert.tsx
  packages/ui/src/avatar.tsx
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/ui/src/checkbox.tsx
  packages/ui/src/cn.ts
  packages/ui/src/combobox.tsx
  packages/ui/src/description-list.tsx
  packages/ui/src/dialog.tsx
  packages/ui/src/divider.tsx
  packages/ui/src/dropdown.tsx
  packages/ui/src/fieldset.tsx
  packages/ui/src/heading.tsx
  packages/ui/src/input.tsx
  packages/ui/src/link.tsx
  packages/ui/src/listbox.tsx
  packages/ui/src/navbar.tsx
  packages/ui/src/pagination.tsx
  packages/ui/src/radio.tsx
  packages/ui/src/select.tsx
  packages/ui/src/sidebar.tsx
  packages/ui/src/styles.css
  packages/ui/src/switch.tsx
  packages/ui/src/table.tsx
  packages/ui/src/text.tsx
  packages/ui/src/textarea.tsx
  pnpm-lock.yaml
  turbo.json
Due: lint, format, type-check

update: new-old
  .claude.tmp-old/CLAUDE.md
  .claude.tmp-old/commands/design.md
  .claude.tmp-old/commands/requirements.md
  .claude.tmp-old/commands/spec.md
  .claude.tmp-old/commands/tasks.md
  .claude.tmp-old/settings.json
  .claude.tmp/CLAUDE.md
  .claude.tmp/commands/step-2-requirements.md
  .claude.tmp/commands/step-3-system-design.md
  .claude.tmp/commands/step-4-ui-design.md
Due: format

fix: command
  apps/web/.prettierignore
  apps/web/package.json
  apps/web/prettier.config.mjs
Due: format

chore
  package.json
  turbo.json
Due: format

Refactor command documentation to streamline workflow by removing summary sections and emphasizing automatic progression between stages. Update next steps for clarity and readiness for implementation.
  .claude/CLAUDE.md
  .claude/commands/full-automatic.md
  .claude/commands/step-1-requirements.md
  .claude/commands/step-2-design.md
  .claude/commands/step-3-tasks.md
Due: format

add: ui packages
  .lefthook.yml
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  packages/ui/.gitignore
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  packages/ui/prettier.config.mjs
  packages/ui/src/alert.tsx
  packages/ui/src/avatar.tsx
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/ui/src/checkbox.tsx
  packages/ui/src/cn.ts
  packages/ui/src/combobox.tsx
  packages/ui/src/description-list.tsx
  packages/ui/src/dialog.tsx
  packages/ui/src/divider.tsx
  packages/ui/src/dropdown.tsx
  packages/ui/src/fieldset.tsx
  packages/ui/src/heading.tsx
  packages/ui/src/input.tsx
  packages/ui/src/link.tsx
  packages/ui/src/listbox.tsx
  packages/ui/src/navbar.tsx
  packages/ui/src/pagination.tsx
  packages/ui/src/radio.tsx
  packages/ui/src/select.tsx
  packages/ui/src/sidebar.tsx
  packages/ui/src/styles.css
  packages/ui/src/switch.tsx
  packages/ui/src/table.tsx
  packages/ui/src/text.tsx
  packages/ui/src/textarea.tsx
  pnpm-lock.yaml
  turbo.json
Due: lint, format, type-check

fix: eslint
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  pnpm-lock.yaml
Due: lint, format

feat: add tailwind animate
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  packages/ui/package.json
  packages/ui/src/styles.css
  pnpm-lock.yaml
Due: lint, format, type-check

Update settings.json to add new Bash commands for pnpm, cmd, and powershell, enhancing the development workflow. Adjusted formatting for the pnpm lint:fix command for consistency.
  apps/web/.claude/settings.json
Due: format

fix: test
  apps/web/src/app/page.tsx
Due: lint, format, type-check

fix: setting
  apps/web/next.config.ts
  apps/web/package.json
  packages/ui/package.json
  turbo.json
Due: lint, format, type-check

fix: packge.json
  pnpm-lock.yaml
Due: none

fix: SEO
  apps/web/src/app/favicon.ico
  apps/web/src/app/icon.png
  apps/web/src/app/layout.tsx
Due: lint, format, type-check

fix: darkmode
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/Alert.tsx
Due: lint, format, type-check

darkmode
  packages/ui/src/alert.tsx
  packages/ui/src/auth-layout.tsx
  packages/ui/src/avatar.tsx
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/ui/src/checkbox.tsx
  packages/ui/src/combobox.tsx
  packages/ui/src/description-list.tsx
  packages/ui/src/dialog.tsx
  packages/ui/src/divider.tsx
  packages/ui/src/dropdown.tsx
  packages/ui/src/fieldset.tsx
  packages/ui/src/heading.tsx
  packages/ui/src/input.tsx
  packages/ui/src/listbox.tsx
  packages/ui/src/navbar.tsx
  packages/ui/src/pagination.tsx
  packages/ui/src/radio.tsx
  packages/ui/src/select.tsx
  packages/ui/src/sidebar-layout.tsx
  packages/ui/src/sidebar.tsx
  packages/ui/src/stacked-layout.tsx
  packages/ui/src/switch.tsx
  packages/ui/src/table.tsx
  packages/ui/src/text.tsx
  packages/ui/src/textarea.tsx
Due: lint, format, type-check

update: pnpm lint:fix && pnpm format
  apps/web/src/app/api/mock/survey/submit/route.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/ui/Alert.tsx
  apps/web/src/lib/mock-data.ts
Due: lint, format, type-check

feat: final commit
  apps/web/README.md
  apps/web/docs/API.md
  apps/web/docs/ARCHITECTURE.md
  apps/web/docs/COMPONENTS.md
  apps/web/docs/DEPLOYMENT.md
  apps/web/docs/DEVELOPMENT.md
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/api/mock/admin/settings/route.ts
  apps/web/src/app/api/mock/admin/stats/route.ts
  apps/web/src/app/api/mock/team/members/route.ts
  apps/web/src/app/api/mock/team/stats/route.ts
  apps/web/src/app/team/page.tsx
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/layout/Header.tsx
Due: lint, format, type-check

feat: ui change
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/alerts/page.tsx
  apps/web/src/app/analytics/page.tsx
  apps/web/src/app/api/mock/admin/logs/route.ts
  apps/web/src/app/api/mock/admin/settings/route.ts
  apps/web/src/app/api/mock/admin/stats/route.ts
  apps/web/src/app/api/mock/admin/users/[id]/route.ts
  apps/web/src/app/api/mock/admin/users/route.ts
  apps/web/src/app/api/mock/alerts/[id]/read/route.ts
  apps/web/src/app/api/mock/alerts/read-all/route.ts
  apps/web/src/app/api/mock/alerts/route.ts
  apps/web/src/app/api/mock/survey/submit/route.ts
  apps/web/src/app/api/mock/team/members/route.ts
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/survey/history/page.tsx
  apps/web/src/app/survey/page.tsx
  apps/web/src/app/team/page.tsx
  apps/web/src/components/admin/UserManagementModal.tsx
  apps/web/src/components/admin/index.ts
  apps/web/src/components/alerts/AlertList.tsx
  apps/web/src/components/layout/DashboardLayout.tsx
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/components/survey/SurveyCompleted.tsx
  apps/web/src/components/survey/SurveyForm.tsx
  apps/web/src/components/team/HighRiskActionModal.tsx
  apps/web/src/components/team/ManagerNoteModal.tsx
  apps/web/src/components/team/MemberDetailModal.tsx
  apps/web/src/components/team/MemberSelectModal.tsx
  apps/web/src/components/team/OneOnOneMeetingModal.tsx
  apps/web/src/components/team/TeamReportModal.tsx
  apps/web/src/components/team/index.ts
  apps/web/src/hooks/use-error-handler.ts
  apps/web/src/hooks/use-unread-alert-count.ts
  apps/web/src/lib/error-utils.ts
  apps/web/src/lib/mock-data.ts
  apps/web/src/lib/server-auth.ts
Due: lint, format, type-check

pnpm format
  apps/web/src/app/survey/history/page.tsx
  apps/web/src/app/survey/page.tsx
  apps/web/src/components/survey/SurveyCompleted.tsx
Due: lint, format, type-check
